.material-drawer > :first-child {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.material-drawer .MuiPaper-root {
  left: auto;
  right: 0;
  min-width: 420px;
  padding: 40px;
}

.single-select {
  width: 100%;
  z-index: 5;
}
